*{
  font-family: sans-serif;
  box-sizing: border-box;
}

/*styling the header*/
header{
  background: #9DB4C0;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*styling the h1 of header*/
header h1{  
  height: 30px;
}

/*styling the navigation bar*/
nav{
  background: #253237;
  text-align: center;
  margin: 0px 0px 10px 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/*styling the links in the navigation bar*/
nav a{
  color: whitesmoke;
  text-decoration: none;
  font-size: 19px;
}

/*adding pseudo-code to navigation elements*/
nav a:hover{
  color: #C2DFE3;
}

/*giving background to all of the main elements*/
main {
  background: lightgray;
}

/*adding padding to the divs in the main section*/
div{
  padding: 20px 70px 25px 70px;
}

/*styling image used*/
img{
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*styling the footer*/
footer{
  margin-top: 10px;
  padding: 5px 10px 20px 10px;
  background: #9DB4C0;
  text-align: center;
}

/*styling the links in the footer*/
footer a{
  color: #253237;
  text-decoration: none;
  font-size: 18px;
}

/*adding pseudo-code to links in the footer*/
footer a:hover{
  color: whitesmoke;
}

/*styling the hr break in the main section*/
hr{
  border: solid;
  height: 0.25px;
  color: #253237;
  width: 95%;
}
